src/libComXML/xsd/TiposComplejos.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://localhost/elegibilidad" targetNamespace="http://localhost/elegibilidad" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TiposSencillos.xsd"/>
	<xs:annotation>
		<xs:documentation>
		Version 2.0, Junio 2004
		Tipos Complejos 
		Marzo 2008 Modificación realizada acuerdo Unesa para ser vigentes en Mayo 2008: nuevo tipo complejo ClienteSinTelefono 
		Octubre 2008 Añadido TipoComplejo MedidaC2
							Modificado MedidaResto (EquipoAportadoCliente y EquipoInstaladoCliente pasan a opcionales)
							Añadido TipoComplejo CondicionesContractualesC
							Modificado Tipo Complejo PuntoDeMedida (Añadido el campo DireccionPuntoMedida)
		Enero 2009   Añadido bloque Contacto en ContratoPasoMRAMLTarifa2ConCambios, ContratoConModificacion
		</xs:documentation>
	</xs:annotation>
	<xs:complexType name="IdContrato">
		<xs:sequence>
			<xs:element name="CodContrato" type="CodigoContrato"/>
			<!-- Un contrato se identifica por su codigo -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdCliente">
		<xs:sequence>
			<xs:element name="TipoCIFNIF" type="TipoIdentificador">
				<xs:annotation>
					<xs:documentation>Tabla 6</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Identificador" type="X9"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContratoPasoMRAMLTarifa2SinCambios">
		<xs:sequence>
			<xs:element name="IdContrato" type="IdContrato"/>
			<xs:choice>
				<xs:element name="FechaFinalizacion" type="xs:date"/>
				<xs:element name="Duracion" type="Decimal2"/>
			</xs:choice>
			<xs:element name="TipoContratoATR" type="TipoContrato"/>
			<xs:element name="DireccionCorrespondencia" type="DireccionCorrespondencia"/>
			<xs:element name="CuentaBancaria" type="CuentaBancaria" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContratoPasoMRAMLTarifa2ConCambios">
		<xs:sequence>
			<xs:element name="IdContrato" type="IdContrato"/>
			<xs:choice>
				<xs:element name="FechaFinalizacion" type="xs:date"/>
				<xs:element name="Duracion" type="Decimal2"/>
			</xs:choice>
			<xs:element name="TipoContratoATR" type="TipoContrato"/>
			<xs:element name="CondicionesContractuales2n" type="CondicionesContractuales2n"/>
			<xs:element name="Contacto" type="Contacto" minOccurs="0"/>
			<xs:element name="DireccionCorrespondencia" type="DireccionCorrespondencia"/>
			<xs:element name="CuentaBancaria" type="CuentaBancaria" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LocalizacionPS">
		<xs:sequence>
			<xs:element name="Pais" type="X25"/>
			<xs:element name="Provincia" type="Decimal2"/>
			<xs:element name="Municipio" type="Decimal7"/>
			<xs:element name="Poblacion" type="Decimal7"/>
			<xs:element name="TipoVia" type="TipoVia" minOccurs="0"/>
			<xs:element name="CodPostal" type="Decimal5" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Direccion">
		<xs:sequence>
			<xs:element name="Pais" type="X25"/>
			<xs:element name="Provincia" type="Decimal2"/>
			<xs:element name="Municipio" type="Decimal7"/>
			<xs:element name="Poblacion" type="Decimal7"/>
			<xs:element name="TipoVia" type="TipoVia"/>
			<xs:element name="CodPostal" type="Decimal5"/>
			<xs:element name="Calle" type="X30"/>
			<xs:element name="NumeroFinca" type="X5"/>
			<xs:element name="DuplicadorFinca" type="X3" minOccurs="0"/>
			<xs:element name="Escalera" type="Escalera" minOccurs="0"/>
			<xs:element name="Piso" type="Piso" minOccurs="0"/>
			<xs:element name="Puerta" type="Puerta" minOccurs="0"/>
			<xs:element name="TipoAclaradorFinca" type="TipoAclaradorFinca" minOccurs="0"/>
			<xs:element name="AclaradorFinca" type="X40" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DireccionCorrespondencia">
		<xs:sequence>
			<xs:element name="Indicador">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="F"/>
						<xs:enumeration value="S"/>
						<xs:enumeration value="O"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Direccion" type="Direccion" minOccurs="0"/>
		</xs:sequence>
		<!-- lleva un "indicador" que es F, S u O, si es O tiene una direccion-->
	</xs:complexType>
	<xs:complexType name="Cliente">
		<xs:sequence>
			<xs:element name="IdCliente" type="IdCliente"/>
			<xs:element name="Nombre" type="NombreCliente"/>
			<xs:element name="Fax" type="TelefonoInternacional" minOccurs="0"/>
			<xs:element name="Telefono" type="TelefonoInternacional" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClienteSinTelefono">
		<xs:sequence>
			<xs:element name="IdCliente" type="IdCliente"/>
			<xs:element name="Nombre" type="NombreCliente"/>
			<xs:element name="TitularContratoVsTitularPago" type="Indicativo" minOccurs="0"/>
			<!-- S coinciden ambos titulares, N no coinciden -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClienteConDireccion">
		<xs:sequence>
			<xs:element name="IdCliente" type="IdCliente"/>
			<xs:element name="Nombre" type="NombreCliente"/>
			<xs:element name="Fax" type="TelefonoInternacional" minOccurs="0"/>
			<xs:element name="Telefono" type="TelefonoInternacional" minOccurs="0"/>
			<xs:element name="IndicadorTipoDireccion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="F"/>
						<xs:enumeration value="S"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Direccion" type="Direccion" minOccurs="0"/>
		</xs:sequence>
		<!-- Nombre Dirección Telefono Fax  -->
	</xs:complexType>
	<xs:complexType name="IdYNombreCliente">
		<xs:sequence>
			<xs:element name="IdCliente" type="IdCliente"/>
			<xs:element name="Nombre" type="NombreCliente"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NombreCliente">
		<xs:choice>
			<xs:sequence>
				<xs:element name="NombreDePila" type="X45"/>
				<xs:element name="PrimerApellido" type="X45"/>
				<xs:element name="SegundoApellido" type="X45" minOccurs="0"/>
			</xs:sequence>
			<xs:element name="RazonSocial" type="X45"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Comentario">
		<xs:sequence>
			<xs:element name="Texto" type="X120"/>
			<xs:element name="Fecha" type="xs:date"/>
			<xs:element name="Hora" type="xs:time"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Comentarios">
		<xs:sequence>
			<xs:element name="Comentario" type="Comentario" minOccurs="0" maxOccurs="50"/>
		</xs:sequence>
	</xs:complexType>
	<!-- del registro A-->
	<xs:complexType name="Medida">
		<xs:sequence>
			<xs:element name="ICPAportadoInstalado" type="IndicativoNCD"/>
			<xs:element name="ICPInstalacion" type="IndicativoYCD"/>
			<xs:element name="EquipoAportadoCliente" type="IndicativoNCD"/>
			<xs:element name="EquipoInstaladoCliente" type="IndicativoYCD"/>
			<xs:element name="TipoEquipoMedida" type="TiposEquipoMedida"/>
			<xs:element name="ModelosAparato" type="ModelosAparato"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MedidaC2">
		<xs:sequence>
			<xs:element name="ICPAportadoInstalado" type="IndicativoNCD"/>
			<xs:element name="ICPInstalacion" type="IndicativoYCD"/>
			<xs:element name="EquipoAportadoCliente" type="IndicativoNCD"/>
			<xs:element name="EquipoInstaladoCliente" type="IndicativoYCD"/>
			<xs:element name="TipoEquipoMedida" type="TiposEquipoMedida" minOccurs="0"/>
			<xs:element name="ModelosAparato" type="ModelosAparato"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MedidaResto">
		<xs:sequence>
			<xs:element name="ICPAportadoInstalado" type="IndicativoNCD" minOccurs="0"/>
			<xs:element name="ICPInstalacion" type="IndicativoYCD" minOccurs="0"/>
			<xs:element name="EquipoAportadoCliente" type="IndicativoNCD" minOccurs="0"/>
			<xs:element name="EquipoInstaladoCliente" type="IndicativoYCD" minOccurs="0"/>
			<xs:element name="TipoEquipoMedida" type="TiposEquipoMedida"/>
			<xs:element name="ModelosAparato" type="ModelosAparato"/>
		</xs:sequence>
	</xs:complexType>
	<!-- del tipo A -->
	<xs:complexType name="ModelosAparato">
		<xs:sequence>
			<xs:element name="ModeloAparato" type="ModeloAparato" minOccurs="0" maxOccurs="50"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ModeloAparato">
		<xs:sequence>
			<xs:element name="Tipo" type="TipoAparato">
				<xs:annotation>
					<xs:documentation>Tabla 24</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Marca" type="MarcaAparato">
				<xs:annotation>
					<xs:documentation>Tabla 25</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModeloMarca" type="X30" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CondicionesContractuales">
		<xs:sequence>
			<xs:element name="TarifaATR" type="Tarifa"/>
			<xs:element name="PotenciasContratadas" type="Potencias"/>
			<xs:element name="PotenciasMaximas" type="Potencias" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CondicionesContractualesC">
		<xs:sequence>
			<xs:element name="TarifaATR" type="Tarifa"/>
			<xs:element name="PotenciasContratadas" type="Potencias"/>
			<xs:element name="PotenciasMaximas" type="Potencias" minOccurs="0"/>
			<xs:element name="MarcaMedidaBTConPerdidas" type="X2" minOccurs="0"/>
			<xs:element name="KVAsTrafo" type="Potencia" minOccurs="0"/>
			<xs:element name="PorcentajePerdidasPactadas" type="X6" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CondicionesContractuales2n">
		<xs:sequence>
			<xs:element name="TarifaATR" type="Tarifa"/>
			<xs:element name="PotenciasContratadas" type="Potencias"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Potencias">
		<xs:sequence>
			<xs:element name="Potencia" maxOccurs="10">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="Potencia">
							<xs:attribute name="Periodo" type="xs:integer" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contacto">
		<xs:sequence>
			<xs:element name="Nombre" type="NombreCliente"/>
			<xs:element name="Telefono" type="TelefonoInternacional"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CuentaBancaria">
		<xs:sequence>
			<xs:element name="Banco" type="Decimal4"/>
			<xs:element name="Sucursal" type="Decimal4"/>
			<xs:element name="DC">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{2}|[*]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Cuenta" type="Decimal10"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contrato">
		<xs:sequence>
			<xs:element name="IdContrato" type="IdContrato"/>
			<xs:choice>
				<xs:element name="FechaFinalizacion" type="xs:date"/>
				<xs:element name="Duracion" type="Decimal2"/>
			</xs:choice>
			<xs:element name="TipoContratoATR" type="TipoContrato"/>
			<xs:element name="CondicionesContractuales" type="CondicionesContractuales"/>
			<xs:element name="ConsumoAnualEstimado" type="Decimal13" minOccurs="0"/>
			<xs:element name="Contacto" type="Contacto" minOccurs="0"/>
			<xs:element name="DireccionCorrespondencia" type="DireccionCorrespondencia"/>
			<xs:element name="CuentaBancaria" type="CuentaBancaria" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContratoConModificacion">
		<xs:sequence>
			<xs:element name="IdContrato" type="IdContrato"/>
			<xs:choice>
				<xs:element name="FechaFinalizacion" type="xs:date"/>
				<xs:element name="Duracion" type="Decimal2"/>
			</xs:choice>
			<xs:element name="TipoContratoATR" type="TipoContrato"/>
			<xs:element name="CondicionesContractuales" type="CondicionesContractuales"/>
			<xs:element name="ConsumoAnualEstimado" type="Decimal13" minOccurs="0"/>
			<xs:element name="Contacto" type="Contacto" minOccurs="0"/>
			<xs:element name="DireccionCorrespondencia" type="DireccionCorrespondencia"/>
			<xs:element name="CuentaBancaria" type="CuentaBancaria" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- del tipo C -->
	<xs:complexType name="PuntosDeMedida">
		<xs:sequence>
			<xs:element name="PuntoDeMedida" type="PuntoDeMedida" maxOccurs="10"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PuntoDeMedida">
		<xs:sequence>
			<xs:element name="CodPM" type="CodPM"/>
			<xs:element name="TipoMovimiento" type="AltaBajaModificacion"/>
			<xs:element name="CodREE" type="X8" minOccurs="0"/>
			<xs:element name="CUPS" type="CUPS"/>
			<xs:element name="TipoPM" type="TipoPM"/>
			<xs:element name="CodPMPrincipal" type="CodPM" minOccurs="0"/>
			<xs:element name="ModoLectura" type="ModoLecturaPM"/>
			<xs:element name="EstadoPM" type="EstadoPM"/>
			<xs:element name="Funcion" type="FuncionPM"/>
			<xs:element name="DireccionEnlace" type="X10" minOccurs="0"/>
			<xs:element name="DireccionPuntoMedida" type="X10" minOccurs="0"/>
			<xs:element name="NumLinea" type="Decimal2" minOccurs="0"/>
			<xs:element name="TelefonoTelemedida" type="Decimal9" minOccurs="0"/>
			<xs:element name="EstadoTelefono" type="EstadoTelefono" minOccurs="0"/>
			<xs:element name="ClaveAcceso" type="X10" minOccurs="0"/>
			<xs:element name="TensionPM" type="Decimal9" minOccurs="0"/>
			<xs:element name="FechaVigor" type="xs:date"/>
			<xs:element name="FechaAlta" type="xs:date"/>
			<xs:element name="FechaBaja" type="xs:date" minOccurs="0"/>
			<xs:element name="Aparatos" type="Aparatos" minOccurs="0"/>
			<xs:element name="ComentariosPM" type="ComentariosPM" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- En realidad son 400 aparatos (40 por cada PM) -->
	<xs:complexType name="Aparatos">
		<xs:sequence>
			<xs:element name="Aparato" type="Aparato" maxOccurs="40"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Aparato">
		<xs:sequence>
			<xs:element name="Modelo" type="ModeloAparato"/>
			<xs:element name="TipoMovimiento" type="TipoMovimiento"/>
			<xs:element name="TipoEquipoMedida" type="TiposEquipoMedida"/>
			<xs:element name="TipoPropiedadAparato" type="TipoPropiedadAparato"/>
			<xs:element name="Propietario" type="X20" minOccurs="0"/>
			<xs:element name="ExtraccionLecturas" type="Indicativo" minOccurs="0"/>
			<xs:element name="DiscriminacionHorariaActiva" type="TipoDHActiva" minOccurs="0"/>
			<xs:element name="DiscriminacionHorariaMaximas" type="TipoDHMaximas" minOccurs="0"/>
			<xs:element name="LecturaDirecta" type="Indicativo" minOccurs="0"/>
			<xs:element name="CodPrecinto">
				<xs:annotation>
					<xs:documentation>Codigo de precinto</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice>
				<xs:element name="DatosAparatoNoICP" type="DatosAparatoNoICP"/>
				<xs:element name="DatosAparatoICP" type="DatosAparatoICP"/>
			</xs:choice>
			<xs:element name="Medidas" type="MedidasAparato" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosAparatoNoICP">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>aparato normal (no ICP) </xs:documentation>
			</xs:annotation>
			<xs:element name="PeriodoFabricacion" type="Decimal4"/>
			<xs:element name="NumeroSerie" type="X10"/>
			<xs:element name="FuncionAparato" type="FuncionAparato"/>
			<xs:element name="NumIntegradores" type="Decimal2"/>
			<xs:element name="ConstanteEnergia" type="DecimalS9V3"/>
			<xs:element name="ConstanteMaximetro" type="DecimalS9V3"/>
			<xs:element name="RuedasEnteras" type="Decimal2"/>
			<xs:element name="RuedasDecimales" type="Decimal2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosAparatoICP">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>equipo ICP</xs:documentation>
			</xs:annotation>
			<xs:element name="PeriodoFabricacion" type="Decimal4" minOccurs="0"/>
			<xs:element name="NumeroSerie" type="X10" minOccurs="0"/>
			<xs:element name="FuncionAparato" type="FuncionAparato" minOccurs="0"/>
			<xs:element name="NumIntegradores" type="Decimal2" minOccurs="0"/>
			<xs:element name="ConstanteEnergia" type="DecimalS9V3" minOccurs="0"/>
			<xs:element name="ConstanteMaximetro" type="DecimalS9V3" minOccurs="0"/>
			<xs:element name="RuedasEnteras" type="Decimal2" minOccurs="0"/>
			<xs:element name="RuedasDecimales" type="Decimal2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComentariosPM">
		<xs:sequence>
			<xs:element name="ComentarioPM" type="ComentarioPM" minOccurs="0" maxOccurs="10"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComentarioPM">
		<xs:sequence>
			<xs:element name="Texto" type="X120"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MedidasAparato">
		<xs:sequence>
			<xs:element name="Medida" type="MedidaAparato" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MedidaAparato">
		<xs:sequence>
			<xs:element name="TipoDH" type="TipoDH"/>
			<xs:element name="Periodo" type="TipoCodigoPeriodoDH"/>
			<xs:element name="MagnitudMedida" type="MagnitudMedida"/>
			<xs:element name="Procedencia" type="Procedencia"/>
			<xs:element name="LecturaAnterior" type="DecimalS10V2"/>
			<xs:element name="Anomalia" type="AnomaliaMedida" minOccurs="0"/>
			<xs:element name="TextoAnomalia" type="X250" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TelefonoInternacional">
		<xs:sequence>
			<xs:element name="PrefijoPais" type="Decimal2"/>
			<xs:element name="Numero" type="Decimal9"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosAceptacion">
		<xs:sequence>
			<xs:element name="FechaAceptacion" type="xs:date"/>
			<xs:element name="PotenciaActual" type="Potencia"/>
			<xs:element name="ActuacionCampo" type="Indicativo"/>
			<xs:element name="FechaUltimaLectura" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosCIE">
		<xs:sequence>
			<xs:element name="CieAportado" type="Indicativo" minOccurs="0"/>
			<xs:element name="CieElectronico" type="Indicativo" minOccurs="0"/>
			<xs:element name="CodigoCie" type="X11" minOccurs="0"/>
			<xs:element name="SelloElectronico" type="X30" minOccurs="0"/>
			<xs:element name="PotenciaInstBT" type="Potencia" minOccurs="0"/>
			<xs:element name="FechaEmisionCie" type="xs:date" minOccurs="0"/>
			<xs:element name="FechaCaducidadCie" type="xs:date" minOccurs="0"/>
			<xs:element name="NifInstalador" type="X9" minOccurs="0"/>
			<xs:element name="NombreInstalador" type="X45" minOccurs="0"/>
			<xs:element name="TensionSuministro" type="X5" minOccurs="0"/>
			<xs:element name="InstensidadDif" type="X2" minOccurs="0"/>
			<xs:element name="SensibilidadDif" type="X2" minOccurs="0"/>
			<xs:element name="SeccionCable" type="X2" minOccurs="0"/>
			<xs:element name="TipoSuministro" type="TiposSuministro" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosAPM">
		<xs:sequence>
			<xs:element name="ApmAportado" type="Indicativo" minOccurs="0"/>
			<xs:element name="CodigoApm" type="X20" minOccurs="0"/>
			<xs:element name="PotenciaInstAT" type="Potencia" minOccurs="0"/>
			<xs:element name="FechaEmisionApm" type="xs:date" minOccurs="0"/>
			<xs:element name="FechaCaducidadApm" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistroDoc">
		<xs:sequence>
			<xs:element name="TipoDocAportado" type="TiposDocumentacion" minOccurs="0"/>
			<xs:element name="DireccionUrl" type="X255" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrosDocs">
		<xs:sequence>
			<xs:element name="RegistroDoc" type="RegistroDoc" minOccurs="0" maxOccurs="50"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
